html, body {
    height: 100%;
    background-color: #f2f2f2;
}

.chat-box {
    padding-top: 120px;
}

.chat-box .chat-title {
    margin-bottom : 20px;
    line-height   : 60px;
    padding-bottom: 10px;
    color         : #393D49;
    border-bottom : 1px solid #eee;
    font-size     : 28px;
    font-weight   : 300;
}

/* .chat-box .chat-con {
    overflow-y: auto;
    max-height: 300px;
} */

@media screen and (max-width: 768px) {
    .chat-box .chat-title {
        text-align: center;
    }
}