html,
body {
    background-color: #f2f2f2;
}

.opt-delete {
    color: #FF5722;
}

.opt-delete:hover {
    opacity: .8;
    color  : #FF5722;
}

.opt-primary {
    color: #1E9FFF;
}

.opt-primary:hover {
    opacity: .8;
    color  : #1E9FFF;
}

.opt-split {
    margin-right : 10px;
    padding-right: 10px;
    border-right : 1px solid #999;
}

.opt-box {
    display        : flex;
    margin         : 15px 0;
    justify-content: space-between;
}

.color-red {
    color: #FF5722;
}

.layui-btn-disabled,
.layui-btn-disabled:active,
.layui-btn-disabled:hover {
    pointer-events: none;
}

.list-box {
    padding         : 0 20px 20px;
    margin-top      : 15px;
    background-color: #fff;
}

.breadcrumb-box {
    margin-top: 15px;
}

.list-btns-box button>* {
    display       : inline-block;
    vertical-align: middle;
}

.list-box__user-search {
    width: 50%;
}

.list-box__user-search .layui-form-item {
    position: relative;
}

.list-box__user-search .layui-form-item>button {
    top             : 0;
    right           : 0;
    color           : #666;
    position        : absolute;
    background-color: transparent;
}