<script>
    layui.use([], function () {
        const $ = layui.jquery;
        let timer = null;

        // 启动轮询.
        const startPolling = () => {
            clearInterval(timer);
            timer = setInterval(() => {
                $.ajax({
                    method: 'post',
                    url: '/reply',
                    success: data => {
                        $('.chat-con').append(`<p>${data.msg}</p>`);
                    }
                });
            }, 1000);
        };

        // 重新开始轮询.
        const restartPolling = () => {
            $.ajax({
                method: 'post',
                url: '/back',
                success: data => {
                    startPolling();
                    $('.chat-con').append(`<p>${data.msg}</p>`);
                }
            });
        };

        // 暂停轮询.
        const pausePolling = () => {
            clearInterval(timer);
            $.ajax({
                method: 'post',
                url: '/leave',
                success: data => {
                    $('.chat-con').append(`<p>${data.msg}</p>`);
                }
            });
        };

        //startPolling();
        //document.addEventListener('visibilitychange', () => {
        //    if(document.hidden) {
        //        pausePolling();
        //    }else {
        //        restartPolling();
        //    }
        //});

        $('.send-btn').click(() => {
            $.ajax({
                method: 'post',
                url: '/send',
                data: {
                    msg: $('#msg-ipt').val()
                },
                success: data => {
                    console.log(data);
                }
            });
        });
        
    });
</script>